@using TH_DAPM_WebBanHangOnline.Models.ViewModel
@model CategoryViewModel

<div class="card">
	<form id="form-add" asp-controller="CategoriesAdmin" asp-action="Create" method="post" enctype="multipart/form-data">
		<div class="card-header" style="display: flex; align-items: center; justify-content: space-between">
			<b>Thêm loại sản phẩm</b>

			<!-- Lưu -->
			<a id="form-add-btn" class="btn btn-sm color-white btn-size" style="background: #007BFF !important">
				<i class="fa fa-save"></i>
				&nbsp;Lưu
			</a>
		</div>

		<!-- Form nhập -->
		<div class="card-body">
			<div class="form-group">
				<label for="cc-payment" class="control-label mb-1">Tên loại sản phẩm</label>
				<input asp-for="Name" id="category-name" type="text" class="form-control" placeholder="Nhập tên loại sản phẩm">
				<input id="view-model" value="@Model" hidden>
				<span class="text-danger" asp-validation-for="Name"></span>
			</div>
		</div>
	</form>
</div>