@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
	<div class="navbar-nav mr-auto py-0">
		<a asp-controller="HomeCustomer" asp-action="HomePage" class="nav-item nav-link active">Trang chủ</a>
		<a href="contact.html" class="nav-item nav-link">Liên hệ</a>
	</div>

	@if (Accessor.HttpContext.Session.GetString("Email") == null)
	{
		<div class="navbar-nav ml-auto py-0">
			<a asp-controller="Customer" asp-action="Login" class="nav-item nav-link">Đăng nhập</a>
			<a asp-controller="Customer" asp-action="Register" class="nav-item nav-link">Đăng ký</a>
		</div>
	}
	else
	{
		<div class="navbar-nav ml-auto py-0">
			<a asp-controller="Customer" asp-action="Logout" class="nav-item nav-link">Đăng xuất</a>
		</div>
	}
</div>